@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Product Web App</h1>
    <p>Know more <a href="/Products/Index">Click here to view available products</a>.</p>
</div>
